@page
@using FUNSAR.Areas.Identity.Pages.Account;
@using FUNSAR.Utilidades
@model RegisterModel
@{
    ViewData["Title"] = "Editar Usuario";
}
<h1 class="text-center">@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-6 offset-3">
        @*<form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">*@
        <form id="registerForm" method="post" enctype="multipart/form-data">
            <h2 class="text-secondary text-center">Crear nuevo usuario</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Nombre" class="form-control" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Nombre"></label>
                <span asp-validation-for="Input.Nombre" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Documento" class="form-control" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Documento"></label>
                <span asp-validation-for="Input.Documento" class="text-danger"></span>
            </div>
            <div class="mb-3">
                @*<input asp-for="Input.Rango" class="form-control" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Rango"></label>
                <span asp-validation-for="Input.Rango" class="text-danger"></span>*@
                @Html.DropDownListFor(m => m.Input.RangoId, Model.ListaRango, "-Seleccione el Rango-",
                new {@class = "form-control"})
            </div>
            
            @if (User.IsInRole(CNT.SuperAdmin))
            {
                <div class="form-group row">
                    <div class="col-6"><h6>Seleccionar Rol de Usuario</h6></div>

                </div>
                <div class="form-group row">
                    <div class="col-7">
                        <input type="radio" name="radUsuarioRole" value="@CNT.Gestor" />@CNT.Gestor
                        <br />
                        <input type="radio" name="radUsuarioRole" value="@CNT.Division" />@CNT.Division
                        <br />
                        <input type="radio" name="radUsuarioRole" value="@CNT.SuperAdmin" />@CNT.SuperAdmin
                        <br />
                        <input type="radio" name="radUsuarioRole" value="@CNT.Administrativo" />@CNT.Administrativo
                    </div>
                </div>
            }
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary mt-4">Registro</button>
        </form>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}